<mat-toolbar>Tipo de Cambio</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="monedaOrigen">
      <mat-header-cell *matHeaderCellDef> Moneda Origen </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.monedaOrigen}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="monedaDestino">
      <mat-header-cell *matHeaderCellDef> Moneda Destino </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.monedaDestino}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoCambio">
      <mat-header-cell *matHeaderCellDef> Tipo Cambio </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tipoCambio}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.id]">Actualizar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <router-outlet></router-outlet>
</div>


